/*example css file*/
body {
  font-family: arial, sans-serif;
  font-size: 14px;
  padding: 50px;
}

div {
  background: #A3A3C2;
  margin: 0 auto;
  width: 600px;
  padding:20px;
}

h1 {
  color: #47476B;
}

#para {
	color:
}
.quote {
	text-align: center;
}
